:root
{
    --bs-border-radius: 15px
}
body {
    background-color: #f0f0ec;
}
.center {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}
.margin-center {
    margin: auto;
}
.qr-loaded {
    width: 60%;
    margin:auto
}
.profile-button{
    background: #198754;
    box-shadow: none;
    border: none
}
.form-control {
    border: 2px solid #198754;
}
.form-control:focus {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
    border: 2px solid #198754;
}
.form-control:hover {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
    border: 2px solid #198754;
}
.form-control:-webkit-autofill{
    box-shadow: inset 0 0 0 1000px #fff;
    outline: none;
    border: 2px solid #198754;
}
.avatar {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #198754;
    cursor: pointer;
}
.avatar:hover {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
    border: 2px solid #198754;
}
.profile-button:focus {
    background: #198754;
    outline:none;
}
.profile-button:hover {
    box-shadow: 0 0 7px 2px #198754;
    background: #198754;
}
.profile-button:active {
    background: #198754;
}
.btn-danger:hover {
    background: #dc3545;
    box-shadow: 0 0 7px 2px #dc3545;
}
.btn-danger:focus {
    background: #dc3545;
}
button:hover {
    transform: scale(1.02);
}
.btn-primary:hover {
    box-shadow: 0 0 7px 2px #0d6efd;
}
.btn-primary:focus {
    background: #0d6efd;
}
.btn-primary:active {
    background: #0d6efd;
}
.back:hover{
    color: #682773;
    cursor: pointer
}
.labels{
    font-size: 14px
}
.add-experience:hover{
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
    border: 1px solid rgba(173, 177, 171, 0.5);
    border-radius: 0 0 40px 40px;
}
.nav-text {
    font-size: 14px;
    margin-top: 0;
    font-weight: 400
}
.input-search {
    margin-left: 10px;
    border-radius: 12px;
    height: 46px;
    border: 2px solid #198754;
    line-height: 100px;
}
.input-search:focus {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
    border: 2px solid #198754;
}
.input-search:-webkit-autofill{
    box-shadow: inset 0 0 0 1000px #fff;
    outline: none;
    border: 2px solid #198754;
}
.button-search {
    border-radius: 12px;
    width: 65px;
    height: 46px;
    margin-right: 10px;
}
.button-search:focus {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
}
.button-search:hover {
    transform: scale(1);
}
ul.navvfsd li{
    display: inline;
}
.nav-item-2 {
    margin-right: 20px;
    margin-left: 20px;
    color: #585c57;
}
.nav-item-active {
    color: #000000;
}
.sticky-bottm {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1020;
    border: 1px solid rgba(173, 177, 171, 0.5);
    border-radius: 40px 40px 0 0;
}

/* OTP */
.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}
.otp-input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
    display: none;
}

.resend {
    font-size: 12px;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 12px;
    text-align: right;
    font-family: monospace;
}

.footer a {
    color: black;
    text-decoration: none;
}