:root
{
    --bs-border-radius: 15px
}

body{
    overflow-x: hidden;
    background-color: #f0f0ec;
}
button.unheart{
    color: red;
}
button.unheart:hover{
    color: white;
}
button.heart{
    color: white;
}
button.heart:hover{
    color: red;
}
.styled-block-1{
    border-radius: 15px;
    background: #fff;
    min-width: 200px;
    width: auto 100%;
    height: auto;
    max-width: 500px;
}
.styled-block-2{
    max-height: 600px;
    max-width: 600px;
    width: auto;
    height: auto;
}
.price-block{
    display: block;
    border-radius: 15px;
    background: #00bb0e;
    padding: 2px 10px 5px;
    width: auto;
    height: 50px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
.old-price-block{
    display: block;
    border-radius: 15px;
    background: #a0a19f;
    padding: 4px 10px 1px;
    width: auto;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
}
.center-text{
    text-align: center;
}
.gallery-image{
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 15px;
}
.flex-block{
    background-color: #f0f0ec;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.buy-button{
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 70px;
    font-weight: bold;
}
.buy-one-click-button{
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 70px;
    font-weight: bold;
    color: #0d6efd;
    background: #d0f5ff;
}
.text-delivery{
    text-align: center;
    font-size: 13.5px;
}
.star-class{
    color: #ffaf00;
}
.star-class-bad{
    color: #858983;
}
.img-my-drop {
    max-height: 62vh;
    max-width: 62vh;
    object-fit: cover;
    border-radius: 15px
}
p {
    font-size: 20px
}
.float-left-block{
    float: left;
}
.float-right-block{
    float: right;
}
.flex-block{
    background-color: #f0f0ec;
    height: 100%;
    display:flex;
    flex-direction:row;
}
.center-text{
    text-align: center;
}
.product-card {
    max-width: 243px;
    width: auto;
    height: 349px;
}
.product-card-img {
    height: 241px;
}
.a_product{
    text-decoration: none !important;
    background-color: transparent;
}
.a_product:hover{
    text-decoration: none;
    background-color: transparent;
}
.m-7-top{
    margin-top: 7px;
}
.shadow-35-10 {
    -webkit-box-shadow: 0 0 35px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 35px 10px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 35px 10px rgba(34, 60, 80, 0.2);
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
    border: 1px solid rgba(173, 177, 171, 0.5);
    border-radius: 0 0 40px 40px;
}
.nav-text {
    font-size: 14px;
    margin-top: 0;
    font-weight: 400
}
.input-search {
    margin-left: 10px;
    border-radius: 12px;
    height: 46px;
    border: 2px solid #198754;
    line-height: 100px;
}
.input-search:focus {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
    border: 2px solid #198754;
}
.input-search:-webkit-autofill{
    box-shadow: inset 0 0 0 1000px #fff;
    outline: none;
    border: 2px solid #198754;
}
.button-search {
    border-radius: 12px;
    width: 65px;
    height: 46px;
    margin-right: 10px;
}
.button-search:focus {
    box-shadow: 0 0 7px 2px #198754;
    outline:none;
}
.button-search:hover {
    transform: scale(1);
}
ul.navvfsd li{
    display: inline;
}
.nav-item-2 {
    margin-right: 20px;
    margin-left: 20px;
    color: #585c57;
}
.nav-item-active {
    color: #000000;
}
.sticky-bottm {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1020;
    border: 1px solid rgba(173, 177, 171, 0.5);
    border-radius: 40px 40px 0 0;
}
.margin-custom {
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 1650px) {
    .styled-block-1{
        border-radius: 15px;
        background: #fff;
        width: 95%;
        height: 100%;
        min-width: 95%;
        max-width: 95%;
    }
    .styled-block-2{
        max-height: 600px;
        max-width: 600px;
        width: auto;
        height: auto;
    }
    .img-my-drop {
        max-height: 42vh;
        max-width: 42vh;
        object-fit: cover;
        border-radius: 15px
    }
    .price-block{
        display: block;
        border-radius: 15px;
        background: #00bb0e;
        padding: 2px 10px 5px;
        width: auto;
        height: 5.3vh;
        font-size: 1.9em;
        text-align: center;
        color: #fff;
        font-weight: bolder;
    }
    .old-price-block{
        display: block;
        border-radius: 15px;
        background: #a0a19f;
        padding: 4px 10px 1px;
        width: auto;
        height: 5vh;
        font-size: 1.6em;
        text-align: center;
        color: #fff;
        font-weight: lighter;
    }
    .center-text{
        text-align: center;
    }
    h1 {
        font-size: 1.8em;
    }
    h6 {
        font-size: 1.02em;
    }
    p {
        font-size: 1.16em;
    }
    .flex-block{
        background-color: #f0f0ec;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .buy-button{
        width: 100%;
        height: 100%;
        min-height: 6vh;
        max-height: 7vh;
        font-weight: bold;
        font-size: 1.2em;
    }
    .buy-one-click-button{
        width: 100%;
        height: 100%;
        min-height: 6vh;
        max-height: 7vh;
        font-weight: bold;
        font-size: 1.2em;
        color: #0d6efd;
        background: #d0f5ff;
    }
    .text-delivery{
        text-align: center;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 767px) {
    .margin-custom {
        margin-bottom: 55px;
        margin-top: 0
    }
}
